# An example with linux file structure, substitute your own folders and variables and copy to new file .env
SOURCE_DIRECTORY = "/home/your_user_name/Documents/mp3conv/Source"
TARGET_DIRECTORY = "/home/your_user_name/Documents/mp3conv/Target"
TARGET_FORMAT = ".mp3"